.displayBooksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // justify-content: space-around;
}

.bookImages {
  margin: 0.5rem;
  width: 100px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.formFlex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.displayBooksContent {
  width: 25%;
}

p.bookNameResults {
  @include text($lightBlue, 1.1rem);
  margin: 0;
  text-align: center;
  font-style: italic;
}

p.authorNameResults {
  @include text($lightBlue, 1rem);
  margin: 0;
  text-align: center;
  font-weight: bold;
}


.resultsBlock{
    width: 25%;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    @include flex(flex-start, center);
    @include max940 {
      width: 50%;
    }
    &:hover {
        border-radius: 20px;
        cursor: pointer;
        background-color: #1b2456bb;
        animation: shadow-drop-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
}

.goalContainer {
  text-align: center;
  p {
    margin: 0;
    font-size: 1.2rem;
    @include max480 {
      font-size: 1rem;
    }
  }
}

.booklistContent {
    // @include flex(center, center);
    // flex-direction: column;
    // flex-wrap: wrap;
    // border: 2px solid crimson;
    margin: 10px 0px;
    background-color: #1b2456;
    padding: 20px;
    border-radius: 20px;
}

.bookDetailsText {
  width: 60%;
}

.bookDetails {
  @include flex(space-between, flex-start);
}

p.shelfStyle {
  text-align: left;
  margin-bottom: 10px;
  @include max480 {
    font-size: 1rem;
    padding-left: 5px;
  }
}

.booklistButtons button {
  font-size: 0.7rem;
  padding: 5px;
  margin-right: 5px;
}

.commentDisplay {
  width: 200px;
  margin: 10px 0;
  font-size: 1rem;
  word-wrap: break-word;
}

@media (max-width: 550px) {
  .booklistButtons {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 5px;
    }
  }
}
