.displayBooksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bookImages {
    margin: 4px;
}

.formFlex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    
}