// colors
$brightBlue: #5C67FF;
$lightBlue: #C8E0F8;
$darkBlue: #1B2456;
$blush: #E5C1BD;
$cranberry: #E25050;
@mixin heading($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Merienda One', cursive;
}
@mixin text($color, $size) {
    color: $color;
    font-size: $size;
}
@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

html {
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
}

img {
    display: block;
    
}

