header {
    background-color: $darkBlue;
    @include flex (space-between, center);
    padding: 15px;
    height: 20vh;
    @include max940 {
        height: 22vh;
        min-height: 215px;
        flex-direction: column;
    }
    @include max768 {
        width: 100vw;
    }
    @include max480 {
        height: 20vh;
        min-height: 200px;
    }

    form {
        flex-direction: row;
        @include max480 {
            font-size: 0.8rem;
        }
        button {
            margin: 0 10px;
        }
    }
}
.title {
    @include flex(flex-start, center);
    .logo {
        width: 100px;
        margin: 15px;
    }
    img {
        width: 100%;
    }
    h1{
        @include heading ($lightBlue, 2.5rem);
        margin: 0;
        @include max480 {
            font-size: 1.8rem;
        }
    }
}
