header {
    background-color: $darkBlue;
    @include flex (space-between, inherit);
    padding: 15px;
    .logo {
        width: 100px;

    }
    img {
        width: 100%;
    }
    h1{
        @include heading ($lightBlue, 4.5rem);
        margin: 0;
    }
}