
.modalContainer,
.formModalContainer {
    // border: 2px solid black;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    background: white;
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
    top: 25%;
    padding: 30px;
    flex-direction: column;
    @include flex (center, unset)
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.bookDisplay {
    @include flex (space-around, center);
    .modalBody {
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        h2 {
            margin-top: 0;
        }
        p{
            margin-top: 0;
            @include text ($darkBlue, 1rem);
        }

        button {
            border: 0.1rem solid black;
            background: $lightBlue;
            color: $darkBlue;
            padding: 10px;
            margin: 0;
            border-radius: 5px;
            &:hover {
                background: $darkBlue;
                color: $lightBlue;
            }
        }
    }
}

.modalHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeModalButton {
    font-size: 2rem;
    cursor: pointer;
    padding: 5px;
    &:hover {
        color: $brightBlue;
    }
}

//MODAL for Post Comment

.formFlex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

.bookImage {
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

textarea {
    height: 300px;
    width: 300px;
}

.commentLabel {
    color: $darkBlue;
    margin-bottom: 20px;
}

.formFlex input.commentSubmit {
            border: 0.1rem solid black;
            background: $lightBlue;
            color: $darkBlue;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            &:hover {
                background: $darkBlue;
                color: $lightBlue;
            }
        }

