@import url("https://fonts.googleapis.com/css?family=Barlow|Merienda+One&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-family: 'Barlow', sans-serif;
  font-size: 125%;
}

img {
  display: block;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
header {
  background-color: #1B2456;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 20vh;
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 28vh;
  }
}

@media (max-width: 320px) {
  header {
    height: 30vh;
  }
}

header form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  header form {
    font-size: 0.8rem;
  }
}

header form button {
  margin: 0 10px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .logo {
  width: 100px;
  margin: 15px;
}

.title img {
  width: 100%;
}

@media (max-width: 940px) {
  .title img {
    width: 90%;
  }
}

.title h1 {
  color: #C8E0F8;
  font-size: 2.5rem;
  font-family: 'Merienda One', cursive;
  margin: 0;
}

@media (max-width: 940px) {
  .title h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 1.2rem;
  }
}

.displayBooksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bookImages {
  margin: 0.5rem;
  width: 100px;
  margin: 0 auto;
}

.bookImages img {
  width: 100%;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.displayBooksContent {
  width: 25%;
}

p.bookNameResults {
  color: #C8E0F8;
  font-size: 1.1rem;
  margin: 0;
  text-align: center;
  font-style: italic;
}

p.authorNameResults {
  color: #C8E0F8;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.resultsBlock {
  width: 25%;
  height: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  .resultsBlock {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .resultsBlock {
    width: 100%;
  }
}

.resultsBlock:hover {
  border-radius: 20px;
  cursor: pointer;
  background-color: #1b2456bb;
  -webkit-animation: shadow-drop-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
}

.goalContainer {
  text-align: center;
}

.goalContainer p {
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .goalContainer p {
    font-size: 1rem;
  }
}

.booklistContent {
  margin: 10px 0px;
  background-color: #1b2456;
  padding: 20px;
  border-radius: 20px;
}

.bookDetailsText {
  width: 60%;
}

.bookDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

p.shelfStyle {
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  p.shelfStyle {
    font-size: 1rem;
    padding-left: 5px;
  }
}

.booklistButtons button {
  font-size: 0.7rem;
  padding: 5px;
  margin-right: 5px;
}

.commentDisplay {
  width: 200px;
  margin: 10px 0;
  font-size: 1rem;
  word-wrap: break-word;
}

@media (max-width: 550px) {
  .booklistButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booklistButtons button {
    margin-bottom: 5px;
  }
}

.modalContainer,
.formModalContainer {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background: white;
  width: 50%;
  height: auto;
  position: absolute;
  left: 25%;
  top: 10%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  .modalContainer,
  .formModalContainer {
    left: 10%;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .modalContainer,
  .formModalContainer {
    left: 2.5%;
    width: 95%;
  }
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.bookDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
}

.modalBody {
  width: 70%;
  margin-left: 1.5rem;
}

.modalBody h2 {
  margin-top: 0;
}

.modalBody p {
  margin-top: 0;
  color: #1B2456;
  font-size: 1rem;
}

.modalBody button {
  border: 2px solid black;
  background: #C8E0F8;
  color: #1B2456;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

.modalBody button:hover {
  background: #1B2456;
  color: #C8E0F8;
  border: 2px solid #5C67FF;
}

.modalHeader {
  width: 10%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.closeModalButton {
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
}

.closeModalButton:hover {
  color: #5C67FF;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.bookImage {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

textarea {
  height: 300px;
  width: 300px;
}

@media (max-width: 480px) {
  textarea {
    height: 250px;
    width: 250px;
  }
}

.commentLabel {
  color: #1B2456;
  margin-bottom: 20px;
}

.formFlex input.commentSubmit {
  border: 0.1rem solid black;
  background: #C8E0F8;
  color: #1B2456;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.formFlex input.commentSubmit:hover {
  background: #1B2456;
  color: #C8E0F8;
}

.content,
main {
  min-height: 80vh;
  width: 100vw;
  background-image: url("./assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .content {
    height: auto;
  }
}

.formOverlay,
.resultOverlay {
  background-color: rgba(27, 36, 86, 0.8);
  width: 60%;
  min-width: 315px;
  height: auto;
  min-height: 60vh;
  border-radius: 20px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 940px) {
  .formOverlay,
  .resultOverlay {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .formOverlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  color: #C8E0F8;
  font-size: 1rem;
}

input,
button {
  border: 4px solid transparent;
  border-radius: 7px;
  padding: 10px;
}

input:hover, input:focus,
button:hover,
button:focus {
  border: 4px solid #5C67FF;
  border-radius: 7px;
}

button {
  background-color: #C8E0F8;
}

.nameInput,
.goalInput {
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 480px) {
  .goalInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.goalInput input {
  width: 10%;
}

@media (max-width: 768px) {
  .goalInput input {
    width: 50%;
  }
}

label {
  margin: 0 10px;
}

@media (max-width: 480px) {
  label {
    margin-bottom: 10px;
  }
}

p {
  color: #C8E0F8;
  font-size: 1.5rem;
}

ul.buttonList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

@media (max-width: 768px) {
  ul.buttonList {
    font-size: 0.8rem;
  }
}

ul.buttonList li {
  margin: 10px;
}

@media (max-width: 480px) {
  ul.buttonList li {
    margin: 0px 10px;
  }
}

ul.buttonList li button {
  max-width: 200px;
}

footer {
  background: transparent;
}

footer p {
  margin: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: black;
}
/*# sourceMappingURL=App.css.map */